{% extends 'base.html.twig' %}

{% block title %}Manual UX Collection demo{% endblock %}

{% macro emailFormRow(emailForm) %}
<div class="col-sm-4"
    data-symfony--ux-form-collection--collection-target="entry"
>
    {{ form_row(emailForm) }}

    <button type="button" data-action="symfony--ux-form-collection--collection#delete">
        Remove
    </button>
</div>
{% endmacro %}

{% block body %}

    <div class="container">
        <h1>Manual</h1>
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(form_simple) }}
                <div
                    class="row"
                    data-controller="symfony--ux-form-collection--collection"
                    data-prototype="{{ _self.emailFormRow(form_simple.emails.vars.prototype)|e }}"
                >
                    {% for emailForm in form_simple.emails %}
                        {{ _self.emailFormRow(emailForm) }}
                    {% endfor %}

                    <button type="button" data-action="symfony--ux-form-collection--collection#add">
                        Add Another
                    </button>
                </div>
                {{ form_end(form_simple) }}
            </div>
            <div class="col-sm-6">
                {{ form_start(form_complex) }}
                {{ form_end(form_complex) }}
            </div>
        </div>
    </div>
{% endblock %}
